<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Story App</title>
  </head>
  <body>
    <!-- Navbar -->
    <navbar-app></navbar-app>

    <main class="container my-4">
      <!-- Konten akan diganti via router -->
      <div id="app"></div>
    </main>

    <footer-app></footer-app>
    <script type="module" src="./index.js"></script>
  </body>
</html>
