<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->
    </header>

    <main class="container my-4">
      <h2 class="mb-3">Daftar Story</h2>
      <div id="story-list" class="row"></div>
    </main>

    <footer>
      <!-- Your footer -->
    </footer>
  </body>
</html>
